name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - '.gitignore'
  pull_request:
    branches: [main]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - '.gitignore'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  conventional-commits:
    name: Conventional Commits Check
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
     - name: Conventional Commits
       uses: webiny/action-conventional-commits@v1.3.0
       with:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         allowed-commit-types: "feat,fix,cicd,chore,patch,release,test,docs,refactor,ci,dev,test"

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: conventional-commits
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22.4'
          cache: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --out-format=colored-line-number --timeout=5m
          skip-cache: true
          skip-pkg-cache: true
          skip-build-cache: true
  
  test:
    name: Test
    runs-on: ubuntu-latest
    needs: lint
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22.4'
          cache: true
      - name: Run tests
        run: go test -v -cover ./...

